<div class="slide">
	<ul rn-carousel rn-carousel-auto-slide rn-carousel-controls-allow-loop class="image">
		<li ng-repeat="item in slides">
			<div  class="layer">
				<img ng-src="{{item.img}}" alt=""/>
			</div>				
		</li>
		<div class='carouselIndex' rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="carouselIndex"></div>
	</ul>
</div>
<div class="grid">
	<div class="col-2">
		<div class="item">
			<div class="block"><a href="#listArticle">出行提示</a></div>
		</div>
		<div class="item">
			<div class="block">天气预报</div>
		</div>
	</div>
	<div class="row">
		<p><i class="icon-volume-up"></i>交通通告：lat:{{lat}} &nbsp; long:{{long}}</p>
	</div>
	<div class="gridView">
		<a href='#list' class="item-2"><i class="icon-hand-paper-o"></i><p>事故处理</p></a>
		<a href='#pai' class="item-2"><i class="icon-camera"></i><p>随手拍</p></a>
	</div>
	<div class="gridView">
		<a href='#list' class="item-3"><i class="icon-tv"></i><p>可视化</p></a>
		<a href='#' class="item-3"><i class="icon-cloud"></i><p>网络巡查</p></a>
		<a href='#' class="item-3"><i class="icon-share-square-o"></i><p>区域互动</p></a>
	</div>

</div>