<div class="button-grouped flex tabbed">
	<a href='#' ng-click='toggle($event,tab1)' class="button" ng-class='{act: tab1}'>驾驶员信息查询</a>
	<a href='#' ng-click='toggle($event,tab2)' class="button" ng-class='{act: tab2}'>车辆信息查询</a>
</div>
<div class="grid" ng-show='tab1'>
	<form ng-submit='driverForm'>
		<div class="input-group">
			<input type="text" placeholder='驾驶员号码'>
			<input type="text" placeholder='驾驶证档案编号'>
			<button type="submit" class='button block'>查询</button>	
		</div>
	</form>
</div>

<div class="grid" ng-show='tab2'>
	<form ng-submit='carForm'>
		<div class="input-group">
			<input type="text" placeholder='车牌号'>
			<input type="text" placeholder='发动机号'>
			<input type="text" placeholder='车架号'>
			<button class='button block' type='submit'>查询</button>
		</div>
	</form>
</div>
