.view footer{
    background: #eee;
    border: none;
    border-top: 1px solid #ccc;
    box-shadow: none;
}
.view footer > a{
	color: #666;
}
.view footer > a.pressed{
	color: #0088d1;
}	
.view footer > a.pressed:not(.button){
	background-color:inherit;
}
.view header .backButton{color:transparent;}
.view header .backButton:before{color:#fff;}
.view footer > a.icon.png:before{
  content: ' ';width: 100%;height: 24px;background-size: auto;
}
.png.test:before{
    background: url(../img/PNG/android.png) no-repeat center;
}
.png.test:before{
    background: url(../img/PNG/android.png) no-repeat center;
}

/*#mainview.view header .backButton{display: none;}*/

.slide-in {
  -webkit-animation: slide-inAnimation 100ms forwards;
  animation: slide-inAnimation 100ms forwards;
}
.slide-in.animation-reverse {
  -webkit-animation: slide-inAnimationReverse 150ms forwards;
  animation: slide-inAnimationReverse 150ms forwards;
}
.slide-out {
  -webkit-animation: slide-outAnimation 100ms forwards;
  animation: slide-outAnimation 100ms forwards;
}
.slide-out.animation-reverse {
  -webkit-animation: slide-outAnimationReverse 150ms forwards;
  animation: slide-outAnimationReverse 150ms forwards;
}
.afToastContainer.bc{text-align: center;}
.button.br{
	border-radius: 5px;
}
.text-center{
	text-align: center;
}
.small{font-size: 0.9em;}
a{text-decoration: none;color: #333;}

.ico-img{
	width: 30px;height: 30px;display: inline-block;
}

#login{
	padding: 0;
}
#login .grid{
	padding: 10px;
}
#login div.input{position: relative;}
#login div.input input{padding-left: 40px;}
#login div.input input[type=password]{
	padding-right: 110px;
}
#login div.input .getcode{position: absolute;top: 3px;right: 3px;margin: 0;}

/*验证样式*/
.ng-invalid,.ng-invalid-required .ng-valid-maxlength{outline-color: red;border-color: red}

#main.panel{padding: 0;}
#main .slide{position:relative;}
#main .slide>ul{min-height: 200px;}
#main .slide img{width: 100%;height: auto;display: block;}
ul[rn-carousel]>li{}
.carouselIndex{background:rgba(0,0,0,.5);position:absolute;bottom:0;width:100%;left:0;right:0;top: 0;margin: auto;height:20px;margin-bottom: 0;text-align: center;}
.rn-carousel-indicator {}
.rn-carousel-indicator span{font-size: 20px;}

/*#main .col-2{padding: 6px 0;overflow-y: hidden;}*/
      .col-2{padding: 6px 0;background: #eee;overflow: hidden;}
#main .col-2 .item{width: 50%;float: left;text-align: center;}
/*#main .col-2 .item .block{padding: 10px;margin: 0 4px;border-radius: 5px;}*/
      .col-2 .item .block{background: #1A9B4B;padding: 10px;margin: 0 4px;border-radius: 5px;color: #fff;}
      .col-2 .item .block a{color: #fff;}
      .col-2 .item:nth-child(odd) .block{ 	background: #558ED8;  }
/*#main .row{width: 100%;overflow-y: hidden;}*/
      .row{background: #fff;padding: 4px 10px;overflow: hidden;}
      .gridView{  text-align: center;position: relative;font-size: 25px;}
/*#main .gridView .item-2{width: 50%;float: left;position: relative;border:1px solid #eee;}*/
      .gridView .item-2{width: 50%;float: left;position: relative;box-sizing:border-box;padding: 20px 10px;}
/*#main .gridView .item-2:after{content: '';height: 100%;position: absolute;width: 100%;}*/
/*#main .gridView .item-3{width: 33.33%;float: left;border:1px solid #eee;border-left: none;border-top: none;}*/
      .gridView .item-3{width: 33.33%;float: left;position: relative;padding: 20px 10px;}


.gridView:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.gridView .item-2:before,
.gridView .item-3:before{
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    border-right: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.gridView .item-2:after,
.gridView .item-3:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #D9D9D9;
    color: #D9D9D9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

#account.panel{padding: 0;background: #eee;}
#account .list{margin: 0;margin-top: 10px;}
#account .grid{padding-bottom: 20px;}

#account .userHead{
	width: 100%;color: #fff;position: relative;
	background: url(http://m.360buyimg.com/mobilecms/jfs/t2896/41/2230699588/27757/b18ed286/575e6478Ndde43dd8.png);
}
#account .userHead .header{
	height: 150px;	text-align: center;
}
#account .userHead .header .link span{display: block;color: #fff;}
#account .userHead .header img{
	width: 56px;height: 56px;border-radius: 50%;margin-top: 40px;clear: both;
}

