.view footer{
    background: #eee;
    border: none;
    border-top: 1px solid #ccc;
    box-shadow: none;
}
.view footer > a{
	color: #666;
}
.view footer > a.pressed{
	color: #0088d1;
}	
.view footer > a.pressed:not(.button){
	background-color:inherit;
}
.afToastContainer.bc{text-align: center;}
.button{
	border-radius: 5px;
}
.text-center{
	text-align: center;
}
.small{font-size: 0.9em;}
#login{
	padding: 0;
}
#login .grid{
	padding: 10px;
}

#login div.input{position: relative;}
#login div.input input{padding-left: 40px;}
#login div.input input[type=password]{
	padding-right: 110px;
}
#login div.input .getcode{position: absolute;top: 3px;right: 3px;margin: 0;}

/*验证样式*/
.ng-invalid,.ng-invalid-required .ng-valid-maxlength{outline-color: red;border-color: red}

#main.panel{padding: 0;}
#main .slide{overflow-y: hidden;}
#main .slide img{width: 100%;height: auto;display: block;}
.col-2{padding: 6px 0;background: #eee;overflow-y: hidden;}
.col-2 .item{width: 50%;float: left;text-align: center;}
.col-2 .item .block{background: blue;padding: 10px;margin: 0 4px;border-radius: 5px;}
.row{width: 100%;overflow-y: hidden;background: #fff;}
.gridView{text-align: center;}
.gridView .item-2{width: 50%;float: left;position: relative;}
.gridView .item-2:after{content: '';height: 100%;position: absolute;width: 100%;}
.gridView .item-3{width: 33.33%;float: left;}